<footer role="contentinfo">

    <div class="grid">

        <div class="unit one-third">
            <h2 class="footer-heading">{{ site.title }}</h2>
        </div>

        <div class="unit one-third align-center">
            <a href="mailto:{{ site.email }}">{{ site.email }}</a>
            |
            <a href="http://xueqiu.com/sailor">雪球</a>
            |
            <a href="http://weibo.com/1769275090">微博</a>
        </div>

        <div class="unit one-third">
            <p>{{ site.description }}</p>
        </div>
    </div>

</div>
</footer>
