{% assign words_per_minute = site.words_per_minute | default: 200 %}

{% if post.read_time %}
  {% assign words = post.content | strip_html | number_of_words %}
{% elsif page.read_time %}
  {% assign words = page.content | strip_html | number_of_words %}
{% endif %}

{% if words < words_per_minute %}
  {{ site.data.ui-text[site.locale].less_than | default: "less than" }} 1 {{ site.data.ui-text[site.locale].minute_read | default: "minute read" }}
{% elsif words == words_per_minute %}
  1 {{ site.data.ui-text[site.locale].minute_read | default: "minute read" }}
{% else %}
  {{ words | divided_by:words_per_minute }} {{ site.data.ui-text[site.locale].minute_read | default: "minute read" }}
{% endif %}

{% if post.last_modified_at %}
  {% assign cdate = post.last_modified_at %}
{% elsif page.last_modified_at %}
  {% assign cdate = page.last_modified_at %}
{% elsif post.date %}
  {% assign cdate = post.date %}
{% elsif page.date %}
  {% assign cdate = page.date %}
{% endif %}
<i class="fas fa-fw fa-calendar-alt" aria-hidden="true"></i>{{ cdate | date: "%Y-%m-%d"}}
